.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-container {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
}

.images-panel {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  background-color: orange;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.images-panel img {
  width: 50%;
  margin: 20px auto;
  cursor: pointer;
}

.show-image {
  display: flex;
  flex: 1 1 50%;
  height: 100vh;
  background-color: yellow;
  align-items: center;
}

.show-image .selected-container {
  display: flex;
  flex: 1 1 50%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.show-image .selected-container h1 {
  font-size: 20px;
}

.show-image .selected-container img {
  width: 50%;
}

.show-image .selected-container button {
  font-size: 12px;
  margin-top: 15px;
  background-color: #D3D3D3;
  cursor: pointer;
  border-radius: 5px;
}

.show-image p {
  display: block;
  text-align: center;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
